<ion-header><ion-navbar></ion-navbar></ion-header>

<ion-content padding>

  <div class="question" *ngIf="reading.question">
    {{reading.getQuestion()}}
  </div>

  <ion-list *ngIf="warning">
    <ion-list-header class="warning">Warning</ion-list-header>
    <ion-item-group>
      <placement-item [placement]="warning" (tap)="showTetragram(warning)"></placement-item>
    </ion-item-group>
  </ion-list>

  <ion-list>
    <ion-list-header>Judge</ion-list-header>
    <ion-item-group>
      <tetragram-item [tetragram]="reading.judge" (tap)="showTetragram(reading.judge)">
      </tetragram-item>
    </ion-item-group>
  </ion-list>

  <ion-list *ngIf="topicPlacement">
    <ion-list-header>Topic</ion-list-header>
    <ion-item-divider>{{reading.topic}}</ion-item-divider>

    <placement-item [placement]="topicPlacement">
    </placement-item>
  </ion-list>

  <ion-list *ngIf="keys.length > 0">

    <ion-list-header>Strong Placements</ion-list-header>

    <ion-item-group *ngFor="let key of keys">

      <div *ngIf="placements[key].length > 0">

        <ion-item-divider>{{getTypeAsStringFromKey(key)}}</ion-item-divider>

        <div *ngFor="let placement of placements[key]">

          <placement-item
            [placement]="placement"
            (tap)="showPlacement(placement)">
          </placement-item>

        </div>

      </div>

    </ion-item-group>

  </ion-list>

  <ion-list>

    <ion-list-header>Part of Fortune</ion-list-header>

    <ion-item-group>

      <placement-item
        [placement]="partOfFortune"
        (tap)="showPlacement(partOfFortune)">
      </placement-item>

    </ion-item-group>

  </ion-list>

</ion-content>
