<ion-header><ion-navbar></ion-navbar></ion-header>

<ion-content padding>

  <div class="label">
    Question
  </div>

  <div>{{reading.question}}</div>

  <br>

  <div class="label">
    Topic
  </div>

  <div>{{reading.topic}}</div>

  <br>

  <div class="label">
    Date
  </div>

  <div>{{reading.date | date:'medium'}}</div>

  <br>

  <div *ngIf="warnings.length > 0">
    <h3>Warning</h3>
    <div color="danger" *ngFor="let warning of warnings">
      {{warning}}
    </div>
  </div>

  <div *ngIf="rulerships.length > 0">
    <h3>Rulerships</h3>
    <div color="primary" *ngFor="let rulership of rulerships">
      {{rulership}}
    </div>
  </div>

  <div *ngIf="exaltations.length > 0">
    <h3>Exaltations</h3>
    <div color="primary" *ngFor="let exaltation of exaltations">
      {{exaltation}}
    </div>
  </div>

</ion-content>
