page-reading-overview {

  .label {
    color: color($colors, light);
    margin-bottom: 0.5em;
  }

  ion-card {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .placement-icon {
    float: right;
    width: 64px;
    margin: 0 0 8px 8px;
    text-align: center;
    color: color($colors, light);
    font-size: small;

    img {
      margin: 0 auto;
      width: 32px;
      height: 32px;
    }
  }
}
