page-reading-houses {

  .house-tetragram {
    float: right;
    width: 64px;
    margin: 0 0 8px 8px;
  }

  .house-title {
    font-weight: bold;
  }

  .house-topics {
    font-style: italic;
  }
}
