page-reading-houses {

  ion-item-divider {
    // font-size: 75% !important;
  }

  ion-item {
    line-height: 200% !important;
  }

  .house-tetragram {
    float: right;
    width: 64px;
    margin: 0 0 8px 8px;
  }

  .house-title {
    font-weight: bold;
  }

  .house-topics {
    font-style: italic;
  }

}
