page-reading {

    button.back-button {
        display: none !important;
    }

    .not-saved {
        color: color($colors, dark);
    }

    .saved {
        color: color($colors, secondary);
    }

}
