<!--
  Generated template for the ReadingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{reading.question}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header>Mothers</ion-list-header>
    <ion-item *ngFor="let mother of reading.mothers; let i = index" (click)="showTetragram(mother, i + 1)">
      <ion-thumbnail item-left>
        <tetragram [tetragram]="mother"></tetragram>
      </ion-thumbnail>
      <h1>{{mother.name}}</h1>
      <p>{{mother.desc}}</p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Daughters</ion-list-header>
    <ion-item *ngFor="let daughter of reading.daughters; let i = index" (click)="showTetragram(daughter, i + 5)">
      <ion-thumbnail item-left>
        <tetragram [tetragram]="daughter"></tetragram>
      </ion-thumbnail>
      <h1>{{daughter.name}}</h1>
      <p>{{daughter.desc}}</p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Nephews</ion-list-header>
    <ion-item *ngFor="let nephew of reading.nephews; let i = index" (click)="showTetragram(nephew, i + 9)">
      <ion-thumbnail item-left>
        <tetragram [tetragram]="nephew"></tetragram>
      </ion-thumbnail>
      <h1>{{nephew.name}}</h1>
      <p>{{nephew.desc}}</p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Witnesses</ion-list-header>
    <ion-item *ngFor="let witness of reading.witnesses" (click)="showTetragram(witness)">
      <ion-thumbnail item-left>
        <tetragram [tetragram]="witness"></tetragram>
      </ion-thumbnail>
      <h1>{{witness.name}}</h1>
      <p>{{witness.desc}}</p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Judge</ion-list-header>
    <ion-item (click)="showTetragram(reading.judge)">
      <ion-thumbnail item-left>
        <tetragram [tetragram]="reading.judge"></tetragram>
      </ion-thumbnail>
      <h1>{{reading.judge.name}}</h1>
      <p>{{reading.judge.desc}}</p>
    </ion-item>
  </ion-list>
</ion-content>
