<ion-header>
  <ion-navbar>
    <ion-title>
      Load Reading
    </ion-title>
    <ion-buttons end *ngIf="readings.length > 0">
      <button ion-button icon-only (click)="deleteAllReadings()">
        <ion-icon name="ios-trash" color="danger"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="readings.length == 0">
    <ion-card-content>
      Save a reading and it will show up here.
    </ion-card-content>
  </ion-card>

  <ion-list margin *ngIf="readings.length > 0">

    <ion-item-group>

      <ion-item-sliding *ngFor="let reading of readings">

        <button ion-item (click)="showReading(reading)">
          <div class="question" text-wrap>{{reading.question || 'No question'}}</div>
          <div class="topic">{{reading.topic || 'No topic'}}</div>
          <div class="date">{{reading.date | date:'medium'}}</div>
        </button>

        <ion-item-options side="right">
          <button ion-button (click)="deleteReading(reading)"
            color="danger">Delete</button>
        </ion-item-options>
      </ion-item-sliding>

    </ion-item-group>

  </ion-list>
</ion-content>
