// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content {
  background: url('/assets/bg.png') scroll repeat center;
  height: 100%;
}

ion-list {
  .label {
    margin: 0;
  }
}

.item-inner {
  border: 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
}

ion-list-header {
  padding: 0 !important;
  margin: 0 !important;

  ion-label {
    // text-align: center;
    border: inset thin color($colors, dark);
    margin: 0 !important;
    padding: 0 0.5em;
    line-height: 200%;
    background-color: color($colors, black);
    color: color($colors, white);
  }
}

ion-list-header.warning ion-label {
  color: color($colors, warning) !important;
  border-color: color($colors, warning) !important;
}

.list-header {
  border: none;
  margin-bottom: 0;
  min-height: 0;
}

ion-item-divider {
  background: none !important;
  border-bottom: none !important;
  padding: 0 !important;

  ion-label {
    margin: 1em 0 !important;
    font-size: 1em;
    color: color($colors, light);
  }
}

ion-item ion-label {
  color: color($colors, white) !important;
  margin: 0 !important;
}

.button-default {
  border: outset thin color($colors, primary);
  border-radius: 1em;
}

ion-item,
button[ion-item] {
  padding: 0 0 0 0.5em !important;
  background-color: color($colors, dark) !important;
  background-image: url("/assets/item-bg.jpg") center scroll repeat !important;
  line-height: 150% !important;
  border: outset thin color($colors, light) !important;
  // border-radius: 0.5em !important;
}

/*
  forms
*/

ion-textarea, ion-select {
  margin: 0 !important;
  padding: 0.5em !important;
  border: outset thin color($colors, dark) !important;
  width: 100% !important;
  color: color($colors, black);
  background-color: color($colors, light) !important;
  border-radius: 0.5em !important;
}

.item-input, .item-select {
  padding: 0.5em !important;
}

.select-icon {
  margin-right: 0.5em;
}

/*
  misc
*/

.big {
  font-size: 150%;
}

.center {
  text-align: center;
}

.left-column {
    color: color($colors, light)
}

/*
  alerts
*/

.alert-wrapper {
  background-color: color($colors, black) !important;
}

.alert-radio-group {
  border: 0 !important;
  overflow: auto !important;
}

.alert-radio-label {
  color: color($colors, white) !important;
}

.alert-radio[aria-checked=true] .alert-radio-label {
  color: color($colors, primary) !important;
}

.alert-button {
  border: 0 !important;
}

.alert-head h2 {
    color: color($colors, white);
}
