// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content {
  background: url('/assets/bg.png') scroll repeat center;
  height: 100%;
}

ion-list-header {
  padding: 0 !important;
  margin-bottom: -1em;
  ion-label {
    text-align: center;
    margin: 0 !important;
    padding: 0 0.5em;
    line-height: 200%;
    background-color: color($colors, light);
    color: color($colors, black);
  }
}

ion-item-divider {
  background: none !important;
  border-bottom: solid 1px black !important;
  color: color($colors, dark) !important;
  padding: 0 !important;

  ion-label {
    text-align: center;
    margin: 1em 0 0.5em 0 !important;
    font-size: 1em;
    color: color($colors, light);
  }
}

ion-item,
button[ion-item] {
  background-color: color($colors, dark);
  line-height: 150% !important;
  border-bottom: solid 1px black !important;
}

.big {
  font-size: 150%;
}

.center {
  text-align: center;
}

.left-column {
    color: color($colors, light)
}
