<ion-header>

  <ion-navbar>
    <ion-title>{{tetragram.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="big tetragram">
    <tetragram [tetragram]="tetragram" color="planet"></tetragram>
  </div>

  <ion-grid>
    <ion-row *ngFor="let detail of details">
      <ion-col col-4>{{detail.name}}</ion-col>
      <ion-col col-8 [ngClass]="detail.class">{{detail.value}}</ion-col>
    </ion-row>
  </ion-grid>

  <ion-list no-lines>

    <ion-list-header>Related Tetragrams</ion-list-header>

    <ion-item-divider>Reverse</ion-item-divider>
    <tetragram-item [tetragram]="tetragram.reversed()" (tap)="showTetragram(tetragram.reversed())"></tetragram-item>

    <ion-item-divider>Inverse</ion-item-divider>
    <tetragram-item [tetragram]="tetragram.inversed()" (tap)="showTetragram(tetragram.inversed())"></tetragram-item>

    <ion-item-divider>Converse</ion-item-divider>
    <tetragram-item [tetragram]="tetragram.conversed()" (tap)="showTetragram(tetragram.conversed())"></tetragram-item>

  </ion-list>

  <ion-list no-lines>

    <ion-list-header>Placements</ion-list-header>

    <ion-item-group *ngFor="let placement of placements">
      <ion-item-divider>House of {{placement.house.title}}</ion-item-divider>
      <placement-item [placement]="placement" (tap)="showPlacement(placement)"></placement-item>
    </ion-item-group>

  </ion-list>

</ion-content>
