<ion-header>

  <ion-navbar>
    <ion-title>{{tetragram.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list no-lines>

    <ion-item-group *ngFor="let detail of details">
      <ion-item-divider text-wrap>
        <div class="left-column">{{detail.name}}</div>
        <div>{{detail.value}}</div>
      </ion-item-divider>
    </ion-item-group>

  </ion-list>

  <ion-list no-lines>

    <ion-list-header>Placements</ion-list-header>

    <ion-item-group *ngFor="let placement of placements">
      <placement-item [placement]="placement" (tap)="showPlacement(placement)"></placement-item>
    </ion-item-group>

  </ion-list>

</ion-content>
