<ion-header>
  <ion-navbar>
    <ion-title>New Reading</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showMore()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding-horizontal>

  <div padding-vertical>
    <ion-segment [(ngModel)]="readingType">
      <ion-segment-button value="automatic">Automatic</ion-segment-button>
      <ion-segment-button value="manual">Manual</ion-segment-button>
    </ion-segment>
  </div>

  <ion-list no-lines>
    <ion-item padding>
      <ion-label stacked>Question</ion-label>
      <ion-textarea [(ngModel)]="question" rows="3"
        placeholder="Enter question here"></ion-textarea>
    </ion-item>

    <ion-item padding>
      <ion-label stacked>Topic</ion-label>
      <ion-select [(ngModel)]="topic">
        <ion-option
          [selected]="t == topic"
          [value]="t"
          *ngFor="let t of topics">
          {{t}}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <p class="instructions" padding-vertical *ngIf="readingType == 'manual'">
    Make 16 rows of a random number of dots on the ground or on a piece of paper. Then, enter the number of dots in each row below.
  </p>

  <ion-list *ngIf="readingType == 'manual'" no-lines>

    <form [formGroup]="manualForm">

      <ion-item *ngFor="let num of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]">

        <ion-label fixed>Row {{num}}</ion-label>

        <ion-input [formControlName]="'row_' + num" type="number" [(ngModel)]="row[num]"></ion-input>

      </ion-item>

    </form>
  </ion-list>

  <p *ngIf="readingType == 'manual' && !manualForm.valid" class="instructions">
    You must enter a number into each row before proceeding.
  </p>

  <button ion-button block large
    *ngIf="readingType == 'manual'"
    color="primary"
    (tap)="createReading()"
    [disabled]="startDisabled || !manualForm.valid">
    Create
  </button>

  <button ion-button block large
    *ngIf="readingType == 'automatic'"
    color="primary"
    (tap)="createReading()"
    [disabled]="startDisabled">
    Create
  </button>

  <p class="instructions" *ngIf="readingType == 'automatic'">
    Although this procedure can be done automatically, manually generating the numbers is a more powerful way of forming the divination.
  </p>

  <br>

</ion-content>
