page-new {

    .tips {
        margin: 2em 0;
        line-height: 200%;
        color: color($colors, light);
    }

    ion-icon.float-right {
        float: right;
    }

    ion-select {
        width: 100%;
    }
}
