page-reading-figures {
  ion-col {
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: map-get($colors, primary);
    }
    &[col-4] {
      font-size: 133%;
    }
  }
}
