page-reading-figures {

  ion-col {
    padding-top: 1em !important;

    text-align: center;
    white-space: nowrap;

    p {
      font-size: 80%;
    }
  }

  .help {
    color: color($colors, white);
    line-height: 200%;

    h4 {
      padding-left: 1em;
    }

    p {
      text-indent: 2em;
    }
  }
}
