<ion-header>

  <ion-navbar>
    <ion-title>Figures</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header>Mothers</ion-list-header>
    <ion-item *ngFor="let mother of reading.mothers; let i = index" (click)="showTetragram(mother, i + 1)">
      <ion-thumbnail item-left>
        <tetragram [tetragram]="mother"></tetragram>
      </ion-thumbnail>
      <h1>{{mother.name}}</h1>
      <p>{{mother.desc}}</p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Daughters</ion-list-header>
    <ion-item *ngFor="let daughter of reading.daughters; let i = index" (click)="showTetragram(daughter, i + 5)">
      <ion-thumbnail item-left>
        <tetragram [tetragram]="daughter"></tetragram>
      </ion-thumbnail>
      <h1>{{daughter.name}}</h1>
      <p>{{daughter.desc}}</p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Nephews</ion-list-header>
    <ion-item *ngFor="let nephew of reading.nephews; let i = index" (click)="showTetragram(nephew, i + 9)">
      <ion-thumbnail item-left>
        <tetragram [tetragram]="nephew"></tetragram>
      </ion-thumbnail>
      <h1>{{nephew.name}}</h1>
      <p>{{nephew.desc}}</p>
    </ion-item>
  </ion-list>
</ion-content>
