<ion-header>

  <ion-navbar>
    <ion-title>House {{house.number}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row *ngFor="let detail of details">

      <ion-col col-4>
        {{detail.name}}
      </ion-col>

      <ion-col col-8 [ngClass]="detail.class">
        {{detail.value}}
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-list no-lines>

    <ion-list-header>Placements</ion-list-header>

    <ion-item-group *ngFor="let placement of placements">
      <ion-item-divider>{{placement.tetragram.name}}</ion-item-divider>
      <placement-item [placement]="placement" (tap)="showPlacement(placement)"></placement-item>
    </ion-item-group>

  </ion-list>

</ion-content>
