page-house {

    font-size: 1em;
    line-height: 2em;

    tetragram.big {
        font-size: 150%;

        .tetragram {
            margin-bottom: 0.5em !important;
        }
    }

    ion-col.placement-details {
        font-size: 1em;
        line-height: 2em;
    }

}
